<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaoyan.institutions.mapper.WlaqMapper">
    <select id="selectByLikeMajor" resultType="com.kaoyan.institutions.entity.Wlaq">
        SELECT *
        FROM wlaq
        WHERE major_direction LIKE CONCAT('%',#{major},'%')
    </select>
</mapper>
